---
import { type CollectionEntry, getCollection } from "astro:content"
import TextLayout from "../../layouts/TextLayout.astro"
import FormattedDate from "../../components/FormattedDate.astro"
import { filterBlogPost } from "../../utils/content"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.filter(filterBlogPost).map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { Content } = await post.render()
---

<TextLayout title={post.data.title}>
  <span class="font-semibold">
    <FormattedDate date={post.data.pubDate} />
    {
      post.data.updatedDate ? (
        <span>
          (Updated <FormattedDate date={post.data.updatedDate} />)
        </span>
      ) : null
    }</span
  >
  <Content />
</TextLayout>
