---
import { type CollectionEntry, getCollection } from "astro:content"
import BlogPost from "../../layouts/BlogPost.astro"
import TextLayout from "../../layouts/TextLayout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { Content } = await post.render()
---

<TextLayout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <span class="font-semibold"> <FormattedDate date={post.data.pubDate} /></span>
  <Content />
</TextLayout>
