---
import { getCollection, type CollectionEntry } from "astro:content"
import GeneralLayout from "../../layouts/GeneralLayout.astro"
import { getISODate } from "../../utils/date"
import { filterBlogPost } from "../../utils/content"

const posts = (await getCollection("blog"))
  .filter(filterBlogPost)
  .sort((a, b) => getEffectiveDate(b).valueOf() - getEffectiveDate(a).valueOf())

function getEffectiveDate(post: CollectionEntry<"blog">) {
  return post.data.updatedDate || post.data.pubDate
}

function getEffectiveDateString(post: CollectionEntry<"blog">) {
  return getISODate(getEffectiveDate(post))
}
---

<GeneralLayout title="Blog">
  <div class="max-w-prose mx-auto">
    <h2 class="font-bold text-2xl mb-6 text-white">Blog</h2>
    <div class="grid grid-cols-[auto,1fr] gap-x-6">
      {
        posts.map((post) => (
          <a class="contents" href={`/blog/${post.slug}`}>
            <span
              class:list={[
                ...(getEffectiveDate(post) > new Date()
                  ? ["text-orange-400"]
                  : []),
              ]}
            >
              {getEffectiveDateString(post)}
            </span>
            <h2>
              {post.data.title}
              {post.data.state === "draft" ? (
                <span class="text-orange-400"> (Draft)</span>
              ) : null}
            </h2>
          </a>
        ))
      }
    </div>
  </div>
</GeneralLayout>
