@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-mono {
    font-family: "Fira Code", monospace;
  }

  @supports (font-variation-settings: normal) {
    .font-mono {
      font-family: "Fira Code VF", monospace;
      font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "zero",
        "cv06", "";
    }
  }

  li li {
    @apply text-gray-400 text-[15px] leading-6;
  }

  body {
    @apply font-mono;
  }

  code {
    @apply font-mono;
  }

  a,
  a > code {
    @apply underline hover:no-underline;
  }

  /* Code blocks in headings shouldn't have a link underline */
  h1 a > code,
  h2 a > code,
  h3 a > code,
  h4 a > code,
  h5 a > code,
  h6 a > code {
    @apply no-underline;
  }

  *::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  *::-webkit-scrollbar-track {
    @apply bg-zinc-200 rounded;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 cursor-auto rounded;
  }
}
