@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-mono {
    font-family: "Fira Code", monospace;
  }

  @supports (font-variation-settings: normal) {
    .font-mono {
      font-family: "Fira Code VF", monospace;
      font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "zero",
        "cv06", "";
    }
  }

  body {
    @apply font-mono;
  }

  *::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  *::-webkit-scrollbar-track {
    @apply bg-zinc-200 rounded;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 cursor-auto rounded;
  }
}
