---
import TextLayout from "../layouts/TextLayout.astro"
---

<TextLayout title="Contact">
  Contact me If you have any questions or just want to say hi, feel free to
  reach out to me at <a href="mailto:hello@williamoldham.co.uk"
    >hello@williamoldham.co.uk</a
  >. I'll do my best to get back to you as soon as possible.

  <ul class="space-y-3">
    <li>
      <i class="fa-brands fa-github text-xl"></i>
      <a href="https://github.com/binaryoverload" target="_blank">GitHub </a>
    </li>
    <li>
      <span>
        <i
          class="fa-brands fa-linkedin-in text-sm w-5 h-5 rounded text-center bg-[#0077B5]"
        ></i>
        <a
          href="https://www.linkedin.com/in/william-o-a77357139/"
          target="_blank"
        >
          LinkedIn
        </a>
      </span>
    </li>
    <li>
      <span>
        <i class="fa-brands fa-twitter text-xl text-[#1DA1F2]"></i>
        <a href="https://twitter.com/binaryoverload" target="_blank">Twitter</a>
      </span>
    </li>
  </ul>
</TextLayout>
