---
import { type CollectionEntry, getCollection } from "astro:content"
import TextLayout from "../../../layouts/TextLayout.astro"
import FormattedDate from "../../../components/FormattedDate.astro"
import { filterBlogPost } from "../../../utils/content"
import DraftTag from "../../../components/DraftTag.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.filter(filterBlogPost()).map((post) => ({
    params: { type: post.data.type, slug: post.slug },
    props: post,
  }))
}

type Props = CollectionEntry<"blog">
const post = Astro.props

const { Content } = await post.render()
---

<TextLayout title={post.data.title}>
  <span class="font-semibold">
    <FormattedDate date={post.data.pubDate} />
    {
      post.data.updatedDate ? (
        <span>
          (Updated <FormattedDate date={post.data.updatedDate} />)
        </span>
      ) : null
    }
    {post.data.state === "draft" ? <DraftTag /> : null}</span
  >
  <Content />
</TextLayout>
