---
import { getCollection, type CollectionEntry } from "astro:content"
import GeneralLayout from "~/layouts/GeneralLayout.astro"
import { getISODate } from "~/utils/date"
import { getEffectiveDate, sortByDate } from "~/utils/content"
import Prose from "~/components/Prose.astro"

const snippets = (await getCollection("snippets")).sort(sortByDate)

function getEffectiveDateString(post: CollectionEntry<"snippets">) {
  return getISODate(getEffectiveDate(post))
}
---

<GeneralLayout title="Blog">
  <div class="space-y-8">
    <div class="max-w-prose mx-auto">
      <h2 class="font-bold text-2xl mb-6 text-white">Snippets</h2>
      <p class="mb-8">
        These snippets are pieces of reusable code or configuration that I've found helpful.
      </p>
      <div class="space-y-6">
        {
          snippets.map((post) => {
            return (
              <div class="border border-dashed p-4 border-slate-500 rounded">
                <div>
                  <a
                    class="hover:text-orange-300 text-lg font-semibold"
                    href={`/snippets/${post.slug}`}
                  >
                    {post.data.title}
                  </a>
                  <div class="text-sm text-gray-400">
                    {getEffectiveDateString(post)}{post.data.languages ? (
                      <span> • {post.data.languages.join(", ")}</span>
                    ) : null}
                  </div>
                </div>
              </div>
            )
          })
        }
      </div>
    </div>
  </div>
</GeneralLayout>
