---
import Prose from "~/components/Prose.astro"
import GeneralLayout from "./GeneralLayout.astro"

const { title, fullWidth } = Astro.props.frontmatter || Astro.props
---

<GeneralLayout title={title}>
  <Prose fullWidth={fullWidth}>
    <h1>{title}</h1>
    <slot />
  </Prose>
</GeneralLayout>

<style is:global>
  p mjx-container {
    display: inline-block;
  }
</style>
