---
import GeneralLayout from "./GeneralLayout.astro"

const { title } = Astro.props.frontmatter || Astro.props

const className = [,].join(" ")
---

<GeneralLayout title={title}>
  <div
    class="bg-"
    class:list={[
      "max-w-prose",
      "mx-auto",
      "prose",
      "prose-gray",
      "prose-invert",
      "prose-h1:text-2xl",
      "prose-h2:text-xl",
      "prose-h3:text-lg",
      "prose-headings:text-base",
      "prose-quoteless",
      "prose-blockquote:not-italic",
      "prose-blockquote:font-normal",
      "prose-li:m-0",
      "prose-code:bg-gradient-to-br",
      "prose-code:from-blue-950/50",
      "prose-code:via-indigo-900/50",
      "prose-code:to-blue-800/50",
      "prose-code:border",
      "prose-code:border-blue-900",
      "prose-code:px-2",
      "prose-code:py-0",
      "prose-code:select-all",
      "prose-code:rounded-md",
      "prose-code:font-normal",
      "prose-code:text-sm/6",
      "prose-code:selection:bg-indigo-700",
      "prose-code:my-0",
      "prose-code:inline-block",
    ]}
  >
    <h1>{title}</h1>
    <slot />
  </div>
</GeneralLayout>

<style is:global>
  p mjx-container {
    display: inline-block;
  }
</style>
