---
import GeneralLayout from "./GeneralLayout.astro"

const { title } = Astro.props.frontmatter || Astro.props
---

<GeneralLayout title={title}>
  <div class="max-w-prose mx-auto prose prose-gray prose-invert">
    <slot />
  </div>
</GeneralLayout>
