---
import GeneralLayout from "./GeneralLayout.astro"

const { title } = Astro.props.frontmatter || Astro.props
---

<GeneralLayout title={title}>
  <div
    class="max-w-prose mx-auto prose prose-gray prose-invert prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-headings:text-base prose-quoteless prose-blockquote:not-italic prose-blockquote:font-normal prose-li:m-0"
  >
    <h1>{title}</h1>
    <slot />
  </div>
</GeneralLayout>

<style is:global>
  p mjx-container {
    display: inline-block;
  }
</style>
